<div class="userForm">
  
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :first_name, :class => 'sr-only' %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", :placeholder => 'First Name', :class => 'form-control' %>
  </div>
  
    <div class="field">
    <%= f.label :last_name, :class => 'sr-only' %><br />
    <%= f.text_field :last_name, autocomplete: "last_name", :placeholder => 'Last Name', :class => 'form-control' %>
  </div>
  <br />
    <div class="field center-text">
      <%= f.check_box :age %>
      <%= f.label :over_21? %>
    </div>
  
    <div class="field">
    <%= f.label :email, :class => 'sr-only' %><br />
    <%= f.email_field :email, autocomplete: "email", :class => 'form-control', :placeholder => 'Email', :class => 'form-control'%>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'sr-only' %>
    <!--<% if @minimum_password_length %>-->
    <!--<em>(<%= @minimum_password_length %> characters minimum)</em>-->
    <!--<% end %>-->
    <br />
    <%= f.password_field :password, autocomplete: "new-password", :placeholder => 'Password, six character minimum', :class => 'form-control' %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'sr-only' %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", :placeholder => 'Confirm Password', :class => 'form-control' %>
  </div>
<br />
  <div class="actions">
    <%= f.submit "Sign up", :class => 'btn btn-lg btn-primary btn-block' %>
  </div>
<% end %>
<br />
<%= render "devise/shared/links" %>
</div>